.top {
    height: 27px;
}
.page {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding-bottom: 27px;
    overflow: hidden;
}
.page-client {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
}

div#top-control {
    width:auto;
    padding-left: 5px;
    padding-right: 1px;
    -webkit-app-region: drag;
}
.window.window-border div#top-control {
    padding-right: 0;
}
div#top-tab-tool {
    width:auto;
    padding-left: 5px;
    margin-right:2px;
}
.window.window-border div#top-tab-tool {
    padding-left: 0;
}
div#top-tab {
    flex: 1;
    display: flex;
    height: 100%;
    -webkit-app-region: drag;
    overflow: hidden;
}

div#nav {
    height: 32px;
    border-bottom: 1px solid #bbb;
}
div#nav-action {
    width:auto;
}
div#nav-url {
    flex: 1;
}
div#nav-menu{
    width:auto;
}

div#nav .textbox {
    box-sizing: border-box;
    margin: 3px 0;
    height: 26px;
    width: 100%;
}

div#view {
    box-sizing: border-box;
    height: 100%;
    padding-bottom: 33px;
}
